body {
    margin: 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
p {
    color: rgb(55, 55, 55);
    font-family: verdana;
    font-size: 1.2em;
    display: inline-block;
    margin:  20px;
}
img {
    margin: 20px 0 20px 0;
    width: 150px;
}
input {
  width: 300px;
  margin: 20px 20px;
  height: 50px;
  border: none;
  border-radius: 18px;
  font-family: verdana;
  font-size: 1.3em;
  text-align: center;
  border: solid 3px #e1e1e1;
}

input:focus {
    outline: none;
    border: solid 3px #e1e1e1;
}

#greet {
    background-color: rgb(28, 230, 38);
    border:  none;
    width:  200px;
    color: white;
}

#greet:hover {
    background-color: rgb(8, 200, 47);
}

.tooltip {
    font-family: verdana;
    font-size: 1.2em;
    color: rgb(55, 55, 55);
    position: relative;
    display: inline-block;
    border-bottom: 3px dotted rgb(206, 206, 206);
}
  
.tooltip .tooltiptext {
    font-family: verdana;
    font-size: 0.8em;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

audio {
    display: none;
}
.selec {
    background-color: rgb(237, 237, 237);
}

button {
    background-color: rgb(237, 237, 237);
    border:  none;
    /*width:  300px;*/
    color: rgb(145, 142, 142);
    border: none;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.footer{
    background: rgb(252, 252, 252);
    height: 200;
    padding: 1em 0;
    bottom: 0;
}


.check {
    background-color: rgb(237, 237, 237);
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    width:  fit-content;
}
