<!DOCTYPE html>
<html>
  <!--   https://www.w3schools.com/w3css/w3css_mobile.asp -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<head>
  <meta charset="UTF-8">
  
  <title>Leaning English</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<style>
img {
    margin: 0px 0 0px 0;
    width: 100px;
}
table ,th {
  padding: 5px;
  margin: 0 auto; 
}
th {
  border: none;
  height: 50px;
}
tr.collapse {
  visibility: collapse;
}
input[value=""]{
	display:none;
}
input[name='hide']{
  width:  fit-content;
  margin: 4px 1px;
  padding: 15px 16px; 
  border: none;
  border-radius: 18px;
  color: rgb(154, 152, 152);
  font-size: 0.8em;
  font-family: verdana;
  text-align: center;
  border: solid 3px #e1e1e1;
}
.main{
  background: white;
  height: 150;
  padding: 1em 0;
  bottom: 0;
  align-items: center;
}
.check {
  font-size: 0.8em;
  font-family: verdana;
}


</style>
</head>
<body>
  <!--type="text/javascript"-->
  <!-- https://www.readspeaker.ai/blog/best-text-to-speech-online/ -->
  <!-- https://ttsmp3.com/ -->
  <audio id="what" src="{{ url_for('static', filename='audio/what.mp3') }}" preload="auto"></audio>
  <audio id="is" src="{{ url_for('static', filename='audio/is.mp3') }}" preload="auto"></audio>
  <audio id="your" src="{{ url_for('static', filename='audio/your.mp3') }}" preload="auto"></audio>
  <audio id="name" src="{{ url_for('static', filename='audio/name.mp3') }}" preload="auto"></audio>
<script> 

</script>
<header class="header"></header>
<main  class="main">
  <!--<img src="{{ url_for('static', filename='images/hello2.svg') }}"> -->
  <p>  Cómo se dice: ¿Cuál es tu nombre? </p> 
<hr style="margin-left:20px; margin-right:20px; color:#e7e8e7; background-color:#e7e8e7">
<table style="height:90px;">
  <tr>   
    <th>
    <input type="button" name="hide" onclick='borrar(0)' value=""/>
	  <input type="button" name="hide" onclick='borrar(1)' value=""/>
	  <input type="button" name="hide" onclick='borrar(2)'value=""/>
	  <input type="button" name="hide" onclick='borrar(3)' value=""/>
    <input type="button" name="hide" onclick='borrar(4)' value=""/>
	  <input type="button" name="hide" onclick='borrar(5)' value=""/>
	  <input type="button" name="hide" onclick='borrar(6)'value=""/>
	  <input type="button" name="hide" onclick='borrar(7)' value=""/>
    <input type="button" name="hide" onclick='borrar(8)' value=""/>
    <input type="button" name="hide" onclick='borrar(9)' value=""/>
    <input type="button" name="hide" onclick='borrar(10)' value=""/>
	  <input type="button" name="hide" onclick='borrar(11)' value=""/>
	  <input type="button" name="hide" onclick='borrar(12)'value=""/>
	  <input type="button" name="hide" onclick='borrar(13)' value=""/>
    <input type="button" name="hide" onclick='borrar(14)' value=""/>
    </th>    
  </tr> 
</table>
<hr style="margin-left:20px; margin-right:20px; color:#e7e8e7; background-color:#e7e8e7">
<!--<br>
<p id="demo"></p> -->
<table>
  <!--<tr>-->
  <th style="width:320px;"> 
    
    <button type="button" class='check' onclick='poner("what")'>what</button>
    <button type="button" class='check' onclick='poner("is")'>is</button>
    <button type="button" class='check' onclick='poner("your")'>your</button>
    <button type="button" class='check' onclick='poner("name")'>name</button>
    
  </th> 
</table>   
</main>
<footer class="footer">
  <p>
    <!--&copy; Sandro Ormeño  https://www.youtube.com/watch?v=PSD5pFi6bx4 -->
    <button type="button">Comprobar</button><br>
  </p>
</footer>

<script>
    //https://www.w3schools.com/jsref/jsref_push.asp
    let btn_num = 0;
    const  pregunta = ["what","is","your","name"]
    let palabras = [];
    function poner(palabra){
      document.getElementsByName("hide")[btn_num].value = palabra;
      //alert("Esta es la respuesta : ");
      btn_num = btn_num +1 ;
      palabras.push(palabra); 
      //document.getElementById("demo").innerHTML = palabras;
      // encuenbtra el índice del botón
      index = pregunta.indexOf(palabra);
      //document.getElementById("demo").innerHTML  = index;
      // cambia el color
      document.getElementsByClassName("check")[index].style.color= "#d5d5d5";  
      document.getElementsByClassName("check")[index].style.backgroundColor= "#d5d5d5";
      // cambia atributos
      document.getElementsByClassName("check")[index].style.cursor= "not-allowed";
      document.getElementsByClassName("check")[index].style.pointerEvents= "none";
      // cambiar fuente
      document.getElementsByClassName("check")[index].style.fontFamily = "Verdana";

      var myaudio = document.getElementById(palabra);
      myaudio.play(); 
    }
    function borrar(numero){
      // oculto la palabra
      document.getElementsByName("hide")[numero].style.display = "none";
      //quees = document.getElementsByName("hide")[0].value;
      //esto_es = document.getElementsByName("hide")[numero].innerHTML
      // luego hago funcional nuevamente el  boton
      //document.getElementById("demo").innerHTML  = palabras[numero];
      index = pregunta.indexOf(palabras[numero]);
      // cambia el color
      document.getElementsByClassName("check")[index].style.color= "#918e8e";  
      document.getElementsByClassName("check")[index].style.backgroundColor= "#ededed";
      // cambia atributos
      document.getElementsByClassName("check")[index].style.cursor= "default";
      document.getElementsByClassName("check")[index].style.pointerEvents= "all";

    }

</script>

</body>
</html>
